.netflex-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px auto;
  width: 90%;
  justify-self: center;
}

@media screen and (max-width: 1024px) {
  .netflex-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .netflex-container {
    grid-template-columns: repeat(2, 1fr);
    width: 84%;
  }
}

@media screen and (max-width: 468px) {
  .netflex-container {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
}
