.netflex-card {
  padding-right: 0.5px;
  border-radius: 10px 10px 0 0;
  border: 1px solid rgb(141, 138, 138);
}

.netflex-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.netflex-card-img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.netflex-card-info {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.netflex-card-info button {
  display: flex;
  padding: 5px 10px;
  margin-top: auto;
  margin-bottom: 5px;
  justify-self: center;
  align-self: flex-end;
  cursor: pointer;
}
